.search {
  display: flex;
  position: relative;
}

.search__container {
  display: flex;
  align-items: center;
  flex: 0.9;
}

.search__icon {
  display: flex;
  border: 1px solid #ced4da;
  border-right: none;
  padding: 6px;
  border-radius: 5px;
  font-size: x-large;
  color: gray;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search__removeBorder {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
